.main-container {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.card {
  font-size: x-large;
  display: flex;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 3rem;
  width: 3rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.reset-btn {
  padding: 0.5rem;
  margin-top: 3rem;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}
